<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar fixed-top navbar-toggleable-lg navbar-inverse bg-inverse">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-right">
      <% if user_signed_in? %>
        <span class="navbar-text">
          <%= link_to current_user.name, profile_path(current_user), class: "btn btn-inverse" %>
        </span>
        <span class="navbar-text">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-inverse" %>
        </span>

      <% else %>
        <span class="navbar-text">
          <%= link_to "Login", new_user_session_path, class: "btn btn-inverse" %>
        </span>
        <span class="navbar-text">
          <%= link_to "Register", new_user_registration_path, class: "btn btn-inverse" %>
        </span>
      <% end %>
      </div>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
